.img-card {
    
    justify-content: space-between;
    align-items:center ;
    /* width: 270px;
    height: 250px; */
    border-radius: 12px;
    max-width:100px;
    max-height:100px;
    width: auto;
    height: auto;
}

.card {
  border: #d9c0c0 solid;
  margin: 20px;
  width: 18rem;
  background-color: #ecd1d1;
  }
  
  .card-title {
    margin-bottom: 15px;
    text-align: justify;
  }
  
  #closeIcon {
    display: flex;
    justify-content: flex-end;
    margin-right: 8px;
    margin-top: 8px;
  }
  
  .card-body {
    margin-top: 0px !important;
    padding-top: 0px !important;
  }