.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: #2196F3;
    padding: 10px;
  }

  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    font-size: 30px;
    text-align: center;
    
  }

.disabled {
    pointer-events: none;
    box-shadow: none;
    color: #999;
}

.box {
    box-sizing: content-box;
    border: #999;
    border-radius: 12px;
}